@inherits LayoutComponentBase

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

@* <!-- Popperjs -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<!-- Tempus Dominus JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>

<!-- Tempus Dominus Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
 *@
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
        <NavMenu />
    </main>
</div>

<script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
<script>
window.getCurrentLocation = function () {
    return new Promise(function (resolve, reject) {
        if (navigator.geolocation) {
            console.log("Geolocation supported, requesting position...");
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    console.log("Position received:", position.coords.latitude, position.coords.longitude);
                    resolve({
                        latitude: position.coords.latitude,
                        longitude: position.coords.longitude
                    });
                },
                function (error) {
                    console.log("Geolocation error:", error);
                    resolve(null);
                });
        } else {
            console.log("Geolocation not supported by this browser.");
            resolve(null);
        }
    });
};
</script>
