
<nav class="navbar navbar-dark navbar-expand fixed-bottom bg-dark justify-content-center">
    <div class="container-fluid">
        <ul class="navbar-nav nav-justified w-100 text-center">
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column" href="/powiadomienia">
                    <i class="fa-solid fa-bell fa-lg"></i>
                    <span>Powiadomienia</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column" href="routes">
                    <i class="fa-solid fa-route fa-lg"></i>
                    <span>Trasy</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column" href="map">
                    <i class="fa-solid fa-map fa-lg"></i>
                    <span>Mapa</span>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
