@page "/zgloszenie"
@using System.Text.Json
@using front.Models
@using front.Services
@inject front.Services.ZgloszenieSerwis zgloszenieSerwis

@inject IJSRuntime JS

<div class="container my-3">
    <div class="mb-3">
        <select class="form-select" @bind="SelectedTrasa">
            <option value="">Wybrana trasa</option>
            @foreach(var trasa in Trasy)
            {
                <option value="@trasa.routeId">@($"{trasa.routeShortName} - {trasa.distanceMeters}m")</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select" @bind="SelectedTypAwarie">
            <option value="">Typ opóźnienia</option>
            <option value="awaria">Awaria</option>
            <option value="opoznienie">Opóźnienie</option>
            <option value="zmiana-peronu">Zmiana peronu</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="opis" class="form-label">Opis</label>
        <textarea id="opis" class="form-control" @bind="Opis" rows="3"></textarea>
    </div>

    <div class="mb-3">
        <button class="btn btn-secondary">
            <i class="fa-solid fa-camera me-2"></i> Dodaj zdjęcie
        </button>
    </div>

    <button class="btn btn-primary" @onclick="DodajZgloszenie">
        <i class="fa-solid fa-plus me-2"></i> Dodaj zgłoszenie
    </button>
</div>

@code {
    string SelectedTrasa { get; set; }
    string SelectedTypAwarie { get; set; }
    string Opis { get; set; }
    protected List<Candidate> Trasy { get; set; } = new();
    protected Location? Location { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Location = await JS.InvokeAsync<Location>("getCurrentLocation");
        Trasy = await zgloszenieSerwis.GetNearbyRoutesAsync(Location!);
    }

    public async Task DodajZgloszenie()
    {
        var zgloszenie = new CreateReportDto
            {
                UserId = "123",
                Title = SelectedTypAwarie,
                Description = Opis,
                Lat = Location!.Latitude,
                Lon = Location!.Longitude,
                RouteId = SelectedTrasa
            };

        await zgloszenieSerwis.AddReport(zgloszenie);
    }
}
