@page "/zgloszenie"
@using System.Text.Json
@inject IJSRuntime JS

<div class="mb-3">
  <select class="form-select" @bind="SelectedTrasa">
    <option value="">Wybrana trasa</option>
   </select>
</div>

<div class="mb-3">
  <select class="form-select" @bind="SelectedTypAwarie">
    <option value="">Typ opóźnienia</option>
    <option value="awaria">Awaria</option>
    <option value="opoznienie">Opóźnienie</option>
    <option value="zmiana-peronu">Zmiana peronu</option>
  </select>
</div>

<div class="mb-3">
  <label for="opis" class="form-label">Opis</label>
  <textarea id="opis" class="form-control" @bind="Opis" rows="3"></textarea>
</div>

<button class="btn btn-primary">
  <i class="fa-solid fa-plus me-2"></i> Dodaj zgłoszenie
</button>

@code {
    string SelectedTrasa { get; set; }
    string SelectedTypAwarie { get; set; }
    string Opis { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var location = await JS.InvokeAsync<Location>("getCurrentLocation");
    }

    public class Location
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }
}
